@use "./variables";

.about_wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;

    section {
        padding: 2rem;

        h1, p {
            padding: 1rem;
        }
    }
}
footer {
    font-size: 12px;
    line-height: 18px;
}

@media screen and (min-width: 1200px) {
    .about_wrapper {
        font-size: 1.35rem;
    }

    footer {
        font-size: 0.95rem;
        line-height: 2rem;
    }
}