@use "./variables";

@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: balance;
}

#root {
    height: 100%;
    width: 100vw;
}

body {
    font-family: variables.$font;
    background-color: rgba(38, 37, 37, 0.63);
    background: url("../assets/background.jpg") rgba(38, 37, 37, 0.63) no-repeat center fixed;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    height: 100%;
}

a {
    color: white;
}

a:visited {
    color: variables.$light-green;
}