@use "./variables";

@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: balance;
}

#root {
    height: 100%;
    width: 100vw;
}

body {
    font-family: variables.$font;
    background-color: rgba(38, 37, 37, 0.63);
    background: url("../assets/background.jpg") rgba(38, 37, 37, 0.63) no-repeat center fixed;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    height: 100%;
}

a {
    color: white;
}

a:visited {
    color: whitesmoke;
}

.type-description-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1, h3, p {
        margin: 2rem 1rem;
        text-align: center;
        max-width: 65ch;
        line-height: 24px;
        padding: 1rem;
    }

    ul {
        padding: 1rem;
        margin: 0 1rem;
        line-height: 24px;
    }

    p, ul {
        @include variables.box;
        border: 1px solid white;
        border-radius: 5px;
    }
}


.analytical-bkg {
    background: url("../assets/analytical.jpg") rgba(38, 37, 37, 0.63) no-repeat center fixed;
    background-size: cover;
    background-blend-mode: multiply;
    height: fit-content;
}
.amiable-bkg {
    background: url("../assets/amiable.jpg") rgba(38, 37, 37, 0.63) no-repeat center fixed;
    background-size: cover;
    background-blend-mode: multiply;
    height: fit-content;
}
.driver-bkg {
    background: url("../assets/driver.jpg") rgba(38, 37, 37, 0.63) no-repeat center fixed;
    background-size: cover;
    background-blend-mode: multiply;
    height: fit-content;
}
.expressive-bkg {
    background: url("../assets/expressive.jpg") rgba(38, 37, 37, 0.83) no-repeat center fixed;
    background-size: cover;
    background-blend-mode: multiply;
    height: fit-content;
}

@media screen and (min-height: 700px) {
    .analytical-bkg {
        background: url("../assets/analytical-sm.jpg") rgba(38, 37, 37, 0.83) no-repeat center fixed;
        height: 100vh;
    }
    .amiable-bkg {
        background: url("../assets/amiable-sm.jpg") rgba(38, 37, 37, 0.83) no-repeat center fixed;
        height: 100vh;
    }
    .driver-bkg {
        background: url("../assets/driver-sm.jpg") rgba(38, 37, 37, 0.83) no-repeat center fixed;
        height: 100vh;
    }
    .expressive-bkg {
        background: url("../assets/expressive-sm.jpg") rgba(38, 37, 37, 0.83) no-repeat center fixed;
        height: 100vh;
    }
}