

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 5% auto;

    h1 {
        font-size: 2.8rem;
    }
    p {
        margin: 2.5rem auto;
        line-height: 30px;
        text-align: center;
    }

    button {
        height: 4rem;
        width: 8rem;
    }
}

@media screen and (min-width: 700px), screen and (min-height: 1000px) {
    .home {
        max-width: 800px;
        margin: 30% auto;
    
        h1 {
            font-size: 5rem;
        }
        p {
            margin: 2.5rem auto;
            line-height: 40px;
            text-align: center;
            font-size: 1.8rem;
        }
    
        button {
            height: 6rem;
            width: 10rem;
            font-size: 1.5rem;
        }
    }
}