@use "./variables";

.question-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;

    h1 {
        margin-top: 5rem;
        font-size: 2.8rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

fieldset {
    @include variables.box;
    max-width: 600px;
    max-height: 750px;
    padding: 2rem;
    position: relative;
    transition: transform 250ms ease, opacity 250ms ease;
    opacity: 1;
}

@media screen and (min-width: 370px) {
    fieldset {
        padding: 1rem;
    }
}

.slide-in {
    transform: translateX(100%); // Starts from the right
    opacity: 0;
    animation: slideIn 250ms forwards;
}

.slide-out {
    transform: translateX(-100%); // Slides out to the left
    opacity: 0;
    animation: slideOut 250ms forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

input[type="radio"] {
    display: grid;
    place-content: center;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    margin: 0;
    font: inherit;
    color: variables.$black;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(0 0 0 / 55%);;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em variables.$green;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  

.question {
    margin: 2rem;
}

.answer {
    display: grid;
    grid-template-columns: 1em 1em 1fr;
    align-items: center;
    align-content: center;
    gap: 0.5em;
    margin: 1rem;
    padding: 0.5rem;
    line-height: 25px;
    /* border: 1px solid $green;
    border-radius: 5px; */
}

.answer-letter {
    font-weight: 800;
}

.button-field {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}

button:hover {
    cursor: pointer;
}
button[disabled]:hover {
    cursor: not-allowed;
}

button {
    background: rgb(2,0,36);
    background: linear-gradient(172deg, rgba(2, 0, 36, 0.95) 22%, rgba(57, 124, 91, 0.48) 56%, rgba(46, 82, 137, 0.4133986358) 92%);
    color: white;
    border-radius: 10px;
    border: none;
    height: 2.5rem;
    width: 4.6rem;
    -webkit-box-shadow: 1px 1px 19px 3px rgba(228, 228, 228, 0.52);
    -moz-box-shadow: 1px 1px 19px 3px rgba(228, 228, 228, 0.52);
    box-shadow: 1px 1px 19px 3px rgba(228, 228, 228, 0.52);
}



button:disabled {
    background: rgba(202, 202, 202, 0.084);
    background-color: rgba(202, 202, 202, 0.078);
    color: grey;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}